// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

$breakpoints-medium: "only screen and (min-width: 768px)";
$breakpoints-large: "only screen and (min-width: 1024px)";
$breakpoints-xlarge: "only screen and (min-width: 1280px)";
$breakpoints-xxlarge: "only screen and (min-width: 1440px)";
$breakpoints-xxxlarge: "only screen and (min-width: 1680px)";

// @media #{$breakpoints-large} {}
