@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

$font-family-title: 'Futura', serif;
$font-family-body: 'Arial', sans-serif;
$font-family-brand: 'Cocogoose', sans-serif;

// Sizes

$font-size-01: 12px;
$font-size-02: 14px;
$font-size-03: 18px;
$font-size-04: 24px;
$font-size-05: 32px;
$font-size-06: 42px;
$font-size-07: 48px;
$font-size-08: 54px;
